language: node_js

node_js:
  - "10"

before_install:
  - export PATH="$HOME/.cargo/bin:$PATH"

before_script:
  - rustup default nightly

cache:
  directories:
    - $TRAVIS_BUILD_DIR/target
    - $TRAVIS_BUILD_DIR/node_modules
    - $HOME/.cargo
    - $HOME/.npm

