language: node_js

node_js:
  - "10"

git:
  submodules: false

before_install:
  - git submodule update --init --recursive
  - export PATH="$HOME/.cargo/bin:$PATH"
  - curl https://sh.rustup.rs -sSf | sh -s -- -y

cache:
  directories:
    - $TRAVIS_BUILD_DIR/.git/modules
    - $TRAVIS_BUILD_DIR/target
    - $HOME/.cargo
    - $HOME/.npm

